@media (min-width: 400px) {
  :root {
    --size-divisor: 1.75;
  }
}

@media (min-width: 576px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.25;
  }
}



@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



* {
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 39, 39);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(800px / var(--size-divisor));
  height: 100%;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

@media (min-width: 1440px) { 
  :root {
    --size-divisor: 1;
  }
  body {
    width: 100%;
  }
}

@media (min-width: 1080px) { 
  :root {
    --size-divisor: 1;
  }
  body {
    width: 100%;
  }
}

.movie-container {
  margin: 20px 0;
  width: 90%;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 25px;
  display: grid;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.seat {
  background-color:rgb(134, 134, 134);
  height: 16px;
  width: calc(24px / var(--size-divisor));
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.seat.selected {
  background-color:darkturquoise
}

.seat.occupied {
  background-color: white;
}

.seat:nth-of-type(3) {
  margin-right: 18px;
}

.seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2)
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1.0)
}

.showcase {
  background: rgba(0, 0 ,0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.row {
  display: flex;
}

.screen {
   background-color: white;
   height: 100px;
   width: 100%;
   margin: 15px 0;
   transform: rotateX(-45deg);
   box-shadow: 0 3px 10px rgba(255,255,255,0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color:turquoise;
}